* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pink: hsl(322, 100%, 66%);
    --VeryPale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --font-opensans: 'Open Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    overflow: auto;
}
header {
    background-image: url(images/bg-hero-desktop.svg);
    background-color: var(--VeryPale-Cyan);
}

nav {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

 nav button {
    width:150px;
    height:40px;
    background-color:#ffff;
    border: 0;
    box-shadow: 1px 1px 1px rgb(238, 235, 235);
    border-radius: 20px;
    font-weight: 700;
    font-family: var(--font-opensans);
    cursor: pointer;
 }
 nav button:hover {
   background-color: rgba(255, 255, 255, 0.619);
   box-shadow: 1px 1px 1px rgb(132, 132, 132);
}

header section {
    display: flex;
    padding: 60px;
    gap: 45px;
    justify-content: center;
    align-items: center;
}

aside img {
    width: 600px;
}

 .text {
    display: flex;
    flex-direction: column;
    width: 550px;
    gap: 20px;
    font-family: var(--font-opensans);
 }

.text h1 {
    font-size: 40px;
}

.text button {
    width: 250px;
    height: 45px;
    background-color: var(--Pink);
    border-radius: 20px;
    border: 0;
    color: #ffff;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

 .text button:hover, .box button:hover {
   background-color:hsla(322, 89%, 70%, 0.8) ;
 }

p {
    font-size: 18px;
}

 .section-articles {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
    font-family: var(--font-opensans);
 }

 .section-articles h1 {
   font-size: 25px;
 }

 article {
    display: flex;
    flex-direction: row;
    width:1200px ;
    margin: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-left: 100px;
    padding-right: 40px;
 }

 .article-text  {
    padding: 90px 100px;
 }

 .reverse-img {
    flex-direction: row-reverse;
    padding: 90px 100px;
 }

picture {
    padding: 20px;
}

 picture img {
    width: 300px;  
 }
 /* footer başlangıç */

 main footer {
    background-color: var(--Very-Dark-Cyan);
    padding: 40px;
    font-family: var(--font-opensans);
 }

 footer nav {
    display: flex;
    color: #ffff;
    padding: 50px;
 }

footer nav a {
   color: #ffff;
   text-decoration: none;
}

.info,.info-last {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.location, .phone, .email {
   display: flex;
   width: 320px;
   gap:20px ;

}

.location img, .phone img, .email img {
   width: 22px;
   height: 22px;
}

.info, .logos, .info-last {
   margin: 32px;
}

#logo-img {
   filter: brightness(0) invert(1);
   width: 240px;
   height:39px;
   padding: 100px 0 0 80px;
}

.logos {
   display: flex;
   gap: 20px;
}

.logos i{
   width: 2em;
   height: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px;
   border: 2px solid #ffff;
   border-radius: 50%;
   cursor: pointer;
}

.box {
   width: 700px;
   height: 220px;
   display: flex;
   position: relative;
   bottom: -110px;
   gap: 20px;
   padding: 57px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 7px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   background-color: #ffff;
}

.box button {
   width: 290px;
   height: 49px;
   border: 0;
   border-radius: 25px;
   background-color: var(--Pink);
   color: #ffff;
   cursor: pointer;
}

.attribution { 
    font-size: 11px;
     text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.copyright {
   display: flex;
   justify-content: end;
   color: #ffff;
}

@media screen and (max-width:768px) {

   header nav {
      display: flex;
      justify-content: space-between;
   }

   header section {
      display: flex;
      flex-direction: column;
      text-align: center;

   }

   .text {
      align-items: center;
      flex-wrap: wrap;
   } 

   article, .reverse-img {
      display: flex;
      flex-direction: column-reverse;
      width: 514px;
      align-items: center;
      text-align: center;
   }

   .article-text,.reverse-img {
      padding:20px
   }

   picture {
      padding:20px;
   }
   
   footer nav {
      display: flex;
      flex-direction: column;
   }

   .info-last {
      margin-top:-9px;
   }

   .logos, .copyright {
      display: flex;
      justify-content: center;
   }
}

@media screen and (min-width: 375px) {

   
   
   
   

   
}
